h2 {
  font-family: $heading-font;
  margin-bottom: 20px;
  font-size: 24px;
}

h5 {
  font-family: $secondary-font;
  margin-bottom: 60px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.2em;
}

p {
  font-family: $secondary-font;
}